
{% extends 'base.html' %}
<!-- CSS only -->


{% block content %}

<div class="articles">
    <div class="row">
    <p>{{article.title}}</p>    
    <p>{{article.description}}</p>
    <p>{{article.content}}</p>
    <p>By:{{article.owner}}</p>
    </div>
   
    
<br>
    <div class="row">
{% if user.is_authenticated %}
    {% if user.id == article.owner.id %}
        <a href="{% url 'posts:update_article' article.pk %}"><button type="button" class="btn btn-danger">Edit</button></a> 
       
        <a href="{% url 'posts:delete_article' article.pk %}"><button type="button" class="btn btn-danger">Delete</button></a>
    {% endif %}
{% endif %}
    </div>
    
    </div>
{% endblock %}




