{% extends 'base.html' %}
{% block content %}



<body>
<div class = "loginbox">
  <form method="post" class ="loginfrm">
  {% csrf_token %}
  <div class="loginforms">
  <div class="loginfields">
    {{form.email}}
    {{form.password}}
  </div>
    <br>
 
    <div class="loginbutton">
    <button class="loginbutton" type="submit">Log In</button>
    </div>
  
  </div>

    <br>
    
    <a class="logsign"href = "{% url 'users:signup' %}">Create an Account</a>
    
  </form>
</div>
</body>
{% endblock %}